<table *ngIf="productType">
    <thead>
        <tr>
            <th colspan="2">
                Product Type Details
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>ID</td>
            <td>{{productType.id}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{productType.Name}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{productType.Description}}</td>
        </tr>
    </tbody>
</table>